.pos-button {
    border: none;
    color: white;
    background-color: #00B0F0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    /* border-radius: 3px; */

    transition: background-color 0.15s;
}

.pos-button.pos-button-block {
    display: block;
}

.pos-button.pos-fill-width {
    width: 100%;
}

.pos-button:disabled {
    background-color: #979797 !important;
    cursor: not-allowed;
}

.pos-button:hover {
    background-color: #37c0f1;
    cursor: pointer;
}

.pos-button:active, .pos-button.active {
    background-color: #0378a3;
}

.pos-button.pos-success {
    background-color:#1aad01;
    color: white;
}

.pos-button.pos-success:hover {
    background-color: #21cc03;
    color: white;
}

.pos-button.pos-success:active, .pos-button.pos-success.active {
    background-color: #1cb800;
    color: white;
}

.pos-button.pos-error {
    background-color: #FF0000;
    color: white;
}

.pos-button.pos-error:hover {
    background-color: #fc2d2d;
    color: white;
}

.pos-button.pos-error:active, .pos-button.pos-error.active {
    background-color: #bd0404;
    color: white;
}