.pos-keypad-button {
    border: 1px white solid;
    color: white;
    background-color: #00B0F0;

    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 40px;

    width: 80px;
    height: 80px;

    margin-right: 5px;
    margin-bottom: 5px;

    transition: background-color 0.05s;
}

.pos-keypad-button.end {
    margin-right: 0;
}

.pos-keypad-button.double {
    width: 160px;
    height: 160px;
}

.pos-keypad-button.double-long {
    width: 160px;
}

.pos-keypad-button:disabled {
    background-color: #979797 !important;
    cursor: not-allowed;
}

.pos-keypad-button:hover {
    background-color: #37c0f1;
    cursor: pointer;
}

.pos-keypad-button:active {
    background-color: #0378a3;
}

.pos-keypad-button.pos-success {
    background-color:#1aad01;
    color: white;
}

.pos-keypad-button.pos-success:hover {
    background-color: #21cc03;
    color: white;
}

.pos-keypad-button.pos-success:active {
    background-color: #1cb800;
    color: white;
}

.pos-float-right {
    margin-right: 0;
    margin-left: auto;
}